# Importando Bibliotecas para a utlização do pandas e para acessar o bucket do GCP

In [ ]:
from google.cloud import storage
import pandas as pd
import io
from io import BytesIO

In [ ]:
# Criando o client object

storage_client = storage.Client.from_service_account_json("/content/projeto-finalsc01-b94741ddd471.json")

# Acessando o Bucket do Projeto

In [ ]:
BUCKET_NAME = 'projeto-finalsc01'

bucket = storage_client.get_bucket(BUCKET_NAME)

# Listando os arquivos contidos no Bucket

In [ ]:
filename  = list(bucket.list_blobs(prefix=''))
for name in filename:
  print(name.name)

chave/
chave/projeto-finalsc01-b94741ddd471.json
dados-brutos/
dados-brutos/COVID-19_Vaccinations_in_the_United_States_County.csv
dados-brutos/COVID_US_HOSPITALIZATION.json
dados-tratados/
dados-tratados/Casos_Hospitalizacoes_Obitos_Cidade.csv
dados-tratados/Fairfield_County_Hospitalizacoes.csv
dados-tratados/Fairfield_County_vacinacao.csv
dados-tratados/Hartford_County_Hospitalizacoes.csv
dados-tratados/Hartford_County_vacinacao.csv
dados-tratados/Litchfield_County_Hospitalizacoes.csv
dados-tratados/Middlesex_County_Hospitalizacoes.csv
dados-tratados/New_Haven_County_Hospitalizacoes.csv
dados-tratados/New_London_County_Hospitalizacoes.csv
dados-tratados/New_London_County_vacinacao.csv
dados-tratados/Tolland_County_Hospitalizacoes.csv
dados-tratados/Vacinacoes_nos_EUA.csv
dados-tratados/Windham_County_Hospitalizacoes.csv
dados-tratados/vacina_8_condados_us.csv
dados_tratados_condados/
dados_tratados_condados/Condados_Hospitalizados.csv
dados_tratados_condados/Fairfield_County_Hospitalizados.csv
dados_tratados_condados/Hartford_County_Hospitalizados.csv
dados_tratados_condados/New_Haven_County_Hospitalizados.csv

# Carregando o dataset .csv

In [ ]:
blop = bucket.blob("dados-tratados/vacina_8_condados_us.csv")
data = blop.download_as_string()

# Criando um DataFrame utilizando pandas

In [ ]:
df = pd.read_csv(io.BytesIO(data), encoding='utf-8', sep=',') #, parse_dates = ["Date"], dayfirst = True

df

            Data  ... Porcentagem_total_65+_metropolitana/NaoMetropolitana
0     2021-11-17  ...                                                4.0
1     2021-11-17  ...                                                4.0
2     2021-11-17  ...                                                4.0
3     2021-11-17  ...                                                4.0
4     2021-11-17  ...                                                8.0
...          ...  ...                                                ...
2723  2020-12-13  ...                                                0.0
2724  2020-12-13  ...                                                0.0
2725  2020-12-13  ...                                                0.0
2726  2020-12-13  ...                                                0.0
2727  2020-12-13  ...                                                0.0

[2728 rows x 29 columns]

# Deletando colunas que não serão utilizadas na análise de dados

In [ ]:
df.drop(['Numero_total_12+', 'Porcentagem_total_12+', 'Numero_total_18+', 'Porcentagem_total_18+', 'Porcentagem_total_pessoas_vacinadas', 'Primeira_dose', 'Porcentagem_primeira_dose', 'Primeira_dose_12+', 'Porcentagem_primeira_dose_12+', 'Primeira_dose_18+', 'Porcentagem_primeira_dose_18+', 'Primeira_dose_65+', 'Porcentagem_primeira_dose_65+', 'IVS_Categoria', 'Porcentagem_total_pop_vacinada', 'Porcentagem_total_12+_IVS', 'Porcentagem_total_18+_IVS', 'Porcentagem_total_65+_IVS', 'Status_metropolitano', 'Porcentagem_total_metropolitana/NaoMetropolitana', 'Porcentagem_total_12+_metropolitana/NaoMetropolitana', 'Porcentagem_total_18+_metropolitana/NaoMetropolitana', 'Porcentagem_total_65+_metropolitana/NaoMetropolitana'], axis = 1, inplace = True)

df.head()

         Data            Condado  ... Numero_total_65+  Porcentagem_total_65+
0  2021-11-17  New London County  ...            47852                   96.0
1  2021-11-17     Windham County  ...            17907                   89.4
2  2021-11-17     Tolland County  ...            23122                   94.1
3  2021-11-17    Hartford County  ...           145498                   93.6
4  2021-11-17  Litchfield County  ...            36103                   91.0

[5 rows x 6 columns]

# Criando e renomeando o index

In [ ]:
df.reset_index(inplace=True)
df = df.rename(columns = {'index':'indice'})

# Criando dataset's com os 3 condados com mais casos

In [ ]:
New_Haven_County = df.loc[df.Condado == 'New Haven County']
New_Haven_County = New_Haven_County.loc[341:0:-1]

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/New_Haven_County_vacinacao.csv').upload_from_string(New_Haven_County.to_csv(index=False),'New_Haven_County_vacinacao.csv' )

In [ ]:
New_Haven_County

In [ ]:
Fairfield_County = df.loc[df.Condado == 'Fairfield County']
Fairfield_County = Fairfield_County.loc[341:0:-1]

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Fairfield_County_vacinacao.csv').upload_from_string(Fairfield_County.to_csv(index=False),'Fairfield_County_vacinacao.csv' )

In [ ]:
Fairfield_County

In [ ]:
Hartford_County = df.loc[df.Condado == 'Hartford County']
Hartford_County = Hartford_County.loc[341:0:-1]

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Hartford_County_vacinacao.csv').upload_from_string(Hartford_County.to_csv(index=False),'Hartford_County_vacinacao.csv' )

In [ ]:
Hartford_County