# Base de dados usada para a realização desse projeto

[COVID-19 Cases, hospitalizations and deaths, County](https://catalog.data.gov/dataset/covid-19-cases-hospitalizations-and-deaths-by-county/resource/9151346d-21bd-4f13-a7e2-ac27103ef698)

In [ ]:
# Instalando Biblioteca Pandera

!pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.8.0)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: pandas-stubs in /usr/local/lib/python3.7/dist-packages (from pandera) (1.2.0.39)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

# Importando Bibliotecas para a utlização do pandas, pandera, ler arquivos json e acessar o bucket do GCP

In [ ]:
# Importando Bibliotecas

import pandas as pd
import pandera as pa
import json
from google.cloud import storage

# Utilizando chave de Serviço do GCP

In [ ]:
storage_client = storage.Client.from_service_account_json('/content/drive/MyDrive/Dados/Projeto_Final/chave_projeto-finalsc01-b94741ddd471.json')

# Acessando Bucket do Projeto

In [ ]:
bucket_name = 'projeto-finalsc01'
bucket = storage_client.get_bucket(bucket_name)

# Listando Arquivos no Bucket

In [ ]:
filename = list(bucket.list_blobs(prefix=''))
for name in filename:
  print(name.name)

chave/
chave/projeto-finalsc01-b94741ddd471.json
dados-brutos/
dados-brutos/COVID-19_Vaccinations_in_the_United_States_County.csv
dados-brutos/COVID_US_HOSPITALIZATION.json
dados-tratados/
dados-tratados/Casos_Hospitalizacoes_Obitos_Cidade.csv
dados-tratados/Fairfield_County_Hospitalizacoes.csv
dados-tratados/Fairfield_County_vacinacao.csv
dados-tratados/Hartford_County_Hospitalizacoes.csv
dados-tratados/Hartford_County_vacinacao.csv
dados-tratados/Litchfield_County_Hospitalizacoes.csv
dados-tratados/Middlesex_County_Hospitalizacoes.csv
dados-tratados/New_Haven_County_Hospitalizacoes.csv
dados-tratados/New_Haven_County_vacinacao.csv
dados-tratados/New_London_County_Hospitalizacoes.csv
dados-tratados/New_London_County_vacinacao.csv
dados-tratados/Tolland_County_Hospitalizacoes.csv
dados-tratados/Vacinacoes_nos_EUA.csv
dados-tratados/Windham_County_Hospitalizacoes.csv
dados-tratados/vacina_8_condados_us.csv
dados_tratados_condados/
dados_tratados_condados/Condados_Hospitalizados.csv
dados_tratados_condados/Condados_Vacinacao.csv
dados_tratados_condados/Fairfield_County_Hospitalizados.csv
dados_tratados_condados/Fairfield_County_Vacinacao.csv
dados_tratados_condados/Hartford_County_Hospitalizados.csv
dados_tratados_condados/Hartford_County_Vacinacao.csv
dados_tratados_condados/New_Haven_County_Hospitalizados.csv
dados_tratados_condados/New_Haven_County_Vacinacao.csv

# Carregando Dataset json

In [ ]:
blob = bucket.blob('dados-brutos/COVID_US_HOSPITALIZATION.json')
data = json.loads(blob.download_as_string(client=None))

# Criando DataFrame ordenado por Dados utilizando pandas

In [ ]:
df = pd.DataFrame(data["data"])
df

                      0                                     1   ...    17   18
0     row-ej3c.y5ji.p5ga  00000000-0000-0000-0483-9944D464F85C  ...   998  291
1     row-jf9f.jfqb-uqei  00000000-0000-0000-D3EF-0AA9CFB870E8  ...   958  301
2     row-r7n8.f4hv-9g7p  00000000-0000-0000-5795-3A8D431ECF94  ...   113   20
3     row-h2wj-56bi-uyda  00000000-0000-0000-F8AF-A257E542BB7C  ...   118   34
4     row-4t3i_r7rr_dm2h  00000000-0000-0000-0968-B319026FDCA6  ...   843  147
...                  ...                                   ...  ...   ...  ...
3611  row-xmvk~86un-nim7  00000000-0000-0000-37F5-672DBB9CC735  ...   302   97
3612  row-nntn.rxi4-nrkx  00000000-0000-0000-5E9B-09A7756F625F  ...  1947  311
3613  row-gdxf-vbud.38ee  00000000-0000-0000-B072-F8907D764ECE  ...   379  117
3614  row-vpwz_g68m_3v2f  00000000-0000-0000-7EB1-8126D2F645FE  ...   153   45
3615  row-3wud~qkht~nmwf  00000000-0000-0000-EBB8-967C6448BABE  ...   173   50

[3616 rows x 19 columns]

# Analisando a base de dados

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3616 non-null   object
 1   1       3616 non-null   object
 2   2       3616 non-null   int64
 3   3       3616 non-null   int64
 4   4       0 non-null      object
 5   5       3616 non-null   int64
 6   6       0 non-null      object
 7   7       3616 non-null   object
 8   8       3616 non-null   object
 9   9       3616 non-null   object
 10  10      3616 non-null   object
 11  11      3616 non-null   object
 12  12      3072 non-null   object
 13  13      3072 non-null   object
 14  14      3352 non-null   object
 15  15      3616 non-null   object
 16  16      3616 non-null   object
 17  17      3072 non-null   object
 18  18      3072 non-null   object
dtypes: int64(3), object(16)
memory usage: 536.9+ KB
None

# Vizualização do schema

In [ ]:
pd.DataFrame(data['meta']['view']["columns"])

           id  ...                                     cachedContents
0          -1  ...                                                NaN
1          -1  ...                                                NaN
2          -1  ...                                                NaN
3          -1  ...                                                NaN
4          -1  ...                                                NaN
5          -1  ...                                                NaN
6          -1  ...                                                NaN
7          -1  ...                                                NaN
8   471756961  ...  {'non_null': '3616', 'largest': '2021-11-17T00...
9   471756962  ...  {'non_null': '3616', 'largest': '8', 'null': '...
10  471756963  ...  {'non_null': '3616', 'largest': 'Windham', 'nu...
11  471756964  ...  {'non_null': '3616', 'largest': '114149', 'nul...
12  471756965  ...  {'non_null': '3072', 'largest': '102527', 'nul...
13  471756966  ...  {'non_null': '3072', 'largest': '11622', 'null...
14  471756967  ...  {'non_null': '3352', 'largest': '12589', 'null...
15  471756968  ...  {'non_null': '3616', 'largest': '797', 'null':...
16  471756969  ...  {'non_null': '3616', 'largest': '2606', 'null'...
17  471756970  ...  {'non_null': '3072', 'largest': '2130', 'null'...
18  471756971  ...  {'non_null': '3072', 'largest': '476', 'null':...

[19 rows x 11 columns]

# Deletando colunas que não fazem sentido para a análise de dados

In [ ]:
df.drop([0,1,2,3,4,5,6,7,], axis = 1, inplace=True)

# Traduzindo o Schema para Português-BR

In [ ]:
df.rename(columns={
    8:'Data_Atualizacao',
    9:'Condado_Codigo',
    10:'Condado',
    11:'Casos_Total',
    12:'Casos_Confirmados',
    13:'Casos_Provaveis',
    14:'Casos_Total_Taxa',
    15:'Casos_Hospitalizados',
    16:'Obitos_Total',
    17:'Obitos_Confirmados',
    18:'Obitos_Provaveis'

}, inplace=True)

# Verificando os valores nulos

In [ ]:
df.isna().sum()

Data_Atualizacao          0
Condado_Codigo            0
Condado                   0
Casos_Total               0
Casos_Confirmados       544
Casos_Provaveis         544
Casos_Total_Taxa        264
Casos_Hospitalizados      0
Obitos_Total              0
Obitos_Confirmados      544
Obitos_Provaveis        544
dtype: int64

# Substituindo valores nulos por 0.

In [ ]:
df.replace([None], '0', inplace=True)

# Modificando o tipo de dado de algumas colunas para fazer a validação

In [ ]:
# Alterando tipo de dados da Coluna 'Data_Atualizacao' para datetime

df['Data_Atualizacao'] =  pd.to_datetime(df['Data_Atualizacao'])

In [ ]:
# Alterando tipo de dados da Coluna 'Condado' para String

df[['Condado']] = df[['Condado']].astype(str)

In [ ]:
# Listando Dados Únicos na Coluna 'Condado'

sorted(pd.unique(df['Condado']))

['Fairfield',
 'Hartford',
 'Litchfield',
 'Middlesex',
 'New Haven',
 'New London',
 'Tolland',
 'Windham']

In [ ]:
# Procurar um dado em uma coluna e alterar
# Acrescentar 'County aos nomes dos Condados


df.loc[df.Condado == 'Fairfield', ['Condado']] = 'Fairfield County'
df.loc[df.Condado == 'Hartford', ['Condado']] = 'Hartford County'
df.loc[df.Condado == 'Litchfield', ['Condado']] = 'Litchfield County'
df.loc[df.Condado == 'Middlesex', ['Condado']] = 'Middlesex County'
df.loc[df.Condado == 'New Haven', ['Condado']] = 'New Haven County'
df.loc[df.Condado == 'New London', ['Condado']] = 'New London County'
df.loc[df.Condado == 'Tolland', ['Condado']] = 'Tolland County'
df.loc[df.Condado == 'Windham', ['Condado']] = 'Windham County'

In [ ]:
# Alterando tipo de dados da Coluna 'Condado_Codigo' para Int

df[['Condado_Codigo']] = df[['Condado_Codigo']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Casos_Total' para Int

df[['Casos_Total']] = df[['Casos_Total']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Casos_Confirmados' para Int

df[['Casos_Confirmados']] = df[['Casos_Confirmados']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Casos_Provaveis' para Int

df[['Casos_Provaveis']] = df[['Casos_Provaveis']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Casos_Total_Taxa' para Float

df[['Casos_Total_Taxa']] = df[['Casos_Total_Taxa']].astype(float)

In [ ]:
# Alterando tipo de dados da Coluna 'Casos_Hospitalizados' para Int

df[['Casos_Hospitalizados']] = df[['Casos_Hospitalizados']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Obitos_Total' para Int

df[['Obitos_Total']] = df[['Obitos_Total']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Obitos_Confirmados' para Int

df[['Obitos_Confirmados']] = df[['Obitos_Confirmados']].astype(int)

In [ ]:
# Alterando tipo de dados da Coluna 'Obitos_Provaveis' para Int

df[['Obitos_Provaveis']] = df[['Obitos_Provaveis']].astype(int)

# Validando os dados do DataFrame usando a biblioteca panderas.

In [ ]:
# Validando Dados do Dataframe

schema = pa.DataFrameSchema(
    columns = {
        "Data_Atualizacao":pa.Column(pa.DateTime),
        "Condado_Codigo":pa.Column(pa.Int),
        "Condado":pa.Column(pa.String),
        "Casos_Total":pa.Column(pa.Int),
        "Casos_Confirmados":pa.Column(pa.Int),
        "Casos_Provaveis":pa.Column(pa.Int),
        "Casos_Total_Taxa":pa.Column(pa.Float),
        "Casos_Hospitalizados":pa.Column(pa.Int),
        "Obitos_Total":pa.Column(pa.Int),
        "Obitos_Confirmados":pa.Column(pa.Int),
        "Obitos_Provaveis":pa.Column(pa.Int)
    }
)

schema.validate(df)

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
0          2020-06-02               1  ...                998               291
1          2020-06-02               2  ...                958               301
2          2020-06-02               3  ...                113                20
3          2020-06-02               4  ...                118                34
4          2020-06-02               5  ...                843               147
...               ...             ...  ...                ...               ...
3611       2021-11-17               4  ...                302                97
3612       2021-11-17               5  ...               1947               311
3613       2021-11-17               6  ...                379               117
3614       2021-11-17               7  ...                153                45
3615       2021-11-17               8  ...                173                50

[3616 rows x 11 columns]

# Conferindo Dados do Dataframe

In [ ]:
# Listando tipos de dados nas Colunas

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data_Atualizacao      3616 non-null   datetime64[ns]
 1   Condado_Codigo        3616 non-null   int64
 2   Condado               3616 non-null   object
 3   Casos_Total           3616 non-null   int64
 4   Casos_Confirmados     3616 non-null   int64
 5   Casos_Provaveis       3616 non-null   int64
 6   Casos_Total_Taxa      3616 non-null   float64
 7   Casos_Hospitalizados  3616 non-null   int64
 8   Obitos_Total          3616 non-null   int64
 9   Obitos_Confirmados    3616 non-null   int64
 10  Obitos_Provaveis      3616 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(1)
memory usage: 310.9+ KB
None

# Criando DataFrames Únicos para cada Condado e salvando no Bucket do GCP

In [ ]:
# Criando DataFrame para o Condado Fairfield County

df_Fairfield_County = df.loc[df.Condado == 'Fairfield County']
df_Fairfield_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
0          2020-06-02               1  ...                998               291
8          2020-06-03               1  ...               1002               291
16         2020-06-04               1  ...               1011               293
24         2020-06-05               1  ...               1017               292
32         2020-06-06               1  ...               1019               293
...               ...             ...  ...                ...               ...
3576       2021-11-11               1  ...               1857               454
3584       2021-11-12               1  ...               1857               454
3592       2021-11-15               1  ...               1860               455
3600       2021-11-16               1  ...               1860               455
3608       2021-11-17               1  ...               1861               455

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Fairfield County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Fairfield_County_Hospitalizacoes.csv').upload_from_string(df_Fairfield_County.to_csv(index=False),'Fairfield_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado Hartford County

df_Hartford_County = df.loc[df.Condado == 'Hartford County']
df_Hartford_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
1          2020-06-02               2  ...                958               301
9          2020-06-03               2  ...                964               302
17         2020-06-04               2  ...                968               309
25         2020-06-05               2  ...                971               308
33         2020-06-06               2  ...                977               310
...               ...             ...  ...                ...               ...
3577       2021-11-11               2  ...               2126               474
3585       2021-11-12               2  ...               2126               474
3593       2021-11-15               2  ...               2129               474
3601       2021-11-16               2  ...               2129               474
3609       2021-11-17               2  ...               2130               476

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Hartford County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Hartford_County_Hospitalizacoes.csv').upload_from_string(df_Hartford_County.to_csv(index=False),'Hartford_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado Litchfield County

df_Litchfield_County = df.loc[df.Condado == 'Litchfield County']
df_Litchfield_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
2          2020-06-02               3  ...                113                20
10         2020-06-03               3  ...                113                21
18         2020-06-04               3  ...                113                21
26         2020-06-05               3  ...                113                21
34         2020-06-06               3  ...                113                21
...               ...             ...  ...                ...               ...
3578       2021-11-11               3  ...                288                43
3586       2021-11-12               3  ...                288                43
3594       2021-11-15               3  ...                289                43
3602       2021-11-16               3  ...                289                43
3610       2021-11-17               3  ...                289                43

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Litchfield County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Litchfield_County_Hospitalizacoes.csv').upload_from_string(df_Litchfield_County.to_csv(index=False),'Litchfield_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado Middlesex County

df_Middlesex_County = df.loc[df.Condado == 'Middlesex County']
df_Middlesex_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
3          2020-06-02               4  ...                118                34
11         2020-06-03               4  ...                119                35
19         2020-06-04               4  ...                120                35
27         2020-06-05               4  ...                123                34
35         2020-06-06               4  ...                124                35
...               ...             ...  ...                ...               ...
3579       2021-11-11               4  ...                301                96
3587       2021-11-12               4  ...                301                96
3595       2021-11-15               4  ...                302                96
3603       2021-11-16               4  ...                302                96
3611       2021-11-17               4  ...                302                97

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Middlesex County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Middlesex_County_Hospitalizacoes.csv').upload_from_string(df_Middlesex_County.to_csv(index=False),'Middlesex_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado New Haven County

df_New_Haven_County = df.loc[df.Condado == 'New Haven County']
df_New_Haven_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
4          2020-06-02               5  ...                843               147
12         2020-06-03               5  ...                845               147
20         2020-06-04               5  ...                855               144
28         2020-06-05               5  ...                865               142
36         2020-06-06               5  ...                867               143
...               ...             ...  ...                ...               ...
3580       2021-11-11               5  ...               1940               310
3588       2021-11-12               5  ...               1940               310
3596       2021-11-15               5  ...               1946               310
3604       2021-11-16               5  ...               1946               310
3612       2021-11-17               5  ...               1947               311

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado New Haven County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/New_Haven_County_Hospitalizacoes.csv').upload_from_string(df_New_Haven_County.to_csv(index=False),'New_Haven_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado New London County

df_New_London_County = df.loc[df.Condado == 'New London County']
df_New_London_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
5          2020-06-02               6  ...                 67                25
13         2020-06-03               6  ...                 69                25
21         2020-06-04               6  ...                 70                25
29         2020-06-05               6  ...                 70                25
37         2020-06-06               6  ...                 70                25
...               ...             ...  ...                ...               ...
3581       2021-11-11               6  ...                379               117
3589       2021-11-12               6  ...                379               117
3597       2021-11-15               6  ...                379               117
3605       2021-11-16               6  ...                379               117
3613       2021-11-17               6  ...                379               117

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado New London County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/New_London_County_Hospitalizacoes.csv').upload_from_string(df_New_London_County.to_csv(index=False),'New_London_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado Tolland County

df_Tolland_County = df.loc[df.Condado == 'Tolland County']
df_Tolland_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
6          2020-06-02               7  ...                 46                14
14         2020-06-03               7  ...                 46                14
22         2020-06-04               7  ...                 46                14
30         2020-06-05               7  ...                 46                14
38         2020-06-06               7  ...                 46                14
...               ...             ...  ...                ...               ...
3582       2021-11-11               7  ...                153                45
3590       2021-11-12               7  ...                153                45
3598       2021-11-15               7  ...                153                45
3606       2021-11-16               7  ...                153                45
3614       2021-11-17               7  ...                153                45

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Tolland County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Tolland_County_Hospitalizacoes.csv').upload_from_string(df_Tolland_County.to_csv(index=False),'Tolland_County_Hospitalizacoes.csv' )

In [ ]:
# Criando DataFrame para o Condado Windham County

df_Windham_County = df.loc[df.Condado == 'Windham County']
df_Windham_County

     Data_Atualizacao  Condado_Codigo  ... Obitos_Confirmados  Obitos_Provaveis
7          2020-06-02               8  ...                 13                 1
15         2020-06-03               8  ...                 13                 1
23         2020-06-04               8  ...                 13                 1
31         2020-06-05               8  ...                 13                 1
39         2020-06-06               8  ...                 13                 1
...               ...             ...  ...                ...               ...
3583       2021-11-11               8  ...                171                50
3591       2021-11-12               8  ...                171                50
3599       2021-11-15               8  ...                172                50
3607       2021-11-16               8  ...                172                50
3615       2021-11-17               8  ...                173                50

[452 rows x 11 columns]

In [ ]:
# Salvando DataFrame do Condado Windham County no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Windham_County_Hospitalizacoes.csv').upload_from_string(df_Windham_County.to_csv(index=False),'Windham_County_Hospitalizacoes.csv' )

# Salvando as transformações realizadas no DataFrame para o Bucket do GCP

In [ ]:
# Salvando DataFrame normalizado no Bucket do GCP

bucket = storage_client.get_bucket('projeto-finalsc01')
bucket.blob('dados-tratados/Casos_Hospitalizacoes_Obitos_Cidade.csv').upload_from_string(df.to_csv(index=False),'Casos_Hospitalizacoes_Obitos_Cidade.csv' )